* {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
 
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #001e2d;
    color: #fff;
    border: 1px solid #444;
  
  }
  
  .menu .logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    background-color: #001e2d
  }
  
  .menu .logo-bar {
    width: 10em;
  }
  
  .menu .material-symbols-outlined {
    transform: scale(2);
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  
  menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    background-color: #001e2d;
    position: fixed;
    top: 0;
    left: -250px; 
    transition: left 0.3s ease;
  }
  
  .menu .link-bar {
    width: 85%;
    background-color: #001e2d;
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    padding: 10px 15px;
    border-bottom: 1px solid #444;
  }
  
  .menu .link-bar:hover {
    background-color: #444;
  }
  
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
  }
  
  
  .menu-opened menu {
    left: 0;
    z-index: 20; 
  }
  
  .menu-opened .overlay {
    opacity: 1;
    visibility: visible;
  }
  
  .apresentacao {
    width: 100%;
    height: 20em;
    background-color: #001F3F;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .complemento {
    color: #cecbcb;
    font-size: 1.2rem;
  }
  .txt-apresentacao {
    font-family: "Poppins", sans-serif;
    color: #FA8200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -5em;
  }
  .card-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #001e2d;
    width: 15em;
    height: 10em;
    border: 1px solid #333;
    border-radius: 30px 10px 30px 10px;
    box-shadow: 10px 10px 10px #333;
    margin-top: 2em;
  }
  .martelinho {
    width: 5em;
  }
  
  .txt-card-services {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    text-align: center;
  }
  
  .sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
  }
  
  .title-name{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .nome {
    font-family: "IBM Plex Mono", monospace;
    font-size: 5rem;
    margin-bottom: 0;
  }
  .sobrenome {
    font-family: "IBM Plex Mono", monospace;
    font-size: 5rem;
    margin-top: -0.8em;
    color: #666;
  }
  
  .txt-sobre {
    font-family: "Poppins", sans-serif;
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-top: 1em;
    padding: 2em;
  }
  .foto {
    width: 100%;
    height: auto;
  }
  .form-class {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0em;
    background-color:#001e2d ;
    margin-top: 1em;
  }
  .info-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    padding: 1em;
   
  }
  .titulo-form {
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    color: #fff;
    margin-top: 1em;
    text-align: center;
  }
  .zap-img {
    width: 3em;
  }
  .button-zap-sobre {
    display: none;
  }
  .button-zap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa8200;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 10px;
    margin-top: 1em;
    width: 15em;
    border-width: 0;
  }
  .button-zap:hover {
    background-color: #fa810096;
    cursor: pointer;
  }
  .txt-zap {
    margin-left: 10px;
  }
  .contato {
    font-family: "Poppins", sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 0.5em;
  }
  .contato-container {
    width: 100%;
  }
  .icons {
    width: 1.8em;
  }
  
  .form {
    width: 100%;
    margin: 0 auto;
    background-color: #001e2d;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 1em;
    font-weight: bold;
    margin-left: 1em;
    font-size: 1em;
    color: #fff;
    font-family: "Poppins", sans-serif;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="tel"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-left: 1em;
  }
  
  .form textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    vertical-align: top;
    margin-left: 1em;
  }
  
  .form button[type="submit"] {
    background-color: #fa8200;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Popins", sans-serif;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
  }
  
  .form button[type="submit"]:hover {
    background-color: #000;
  }
  
  .localizacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
  }
  
  .localizacao-titulo {
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    color: #333;
    margin-top: 1em;
  }
  .localizacao-texto {
    font-family: "Poppins", sans-serif;
    font-size: 1.3em;
    color: #333;
    margin-top: 1em;
    text-align: center;
    padding: 2em;
  }
  .maps {
    width: 80%;
  }
  footer {
    background-color: #001e2d;
    color: #fff;
    padding: 2em;
    text-align: center;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
  }
  
  footer div {
    display: inline-block;
    margin: 0;
  }
  
  footer h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
  }
  
  footer p {
    font-size: 1em;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
  }
  
  .endereco,
  .contato-footer {
    max-width: 30em;
    margin-top: 3em;
  }
  
  .logo-footer {
    height: 4em;
  }
  
  @media (min-width: 768px) {
    .menu {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 50px;
    }
  
    .menu .logo {
      width: auto;
    }
  
    .menu menu {
      display: flex;
      flex-direction: row;
      position: static;
      height: auto;
      width: auto;
      left: 0; 
      transition: none; 
    }
  
    .menu .link-bar {
      width: auto;
      border-bottom: none;
      padding: 0 15px;
    }
  
    .menu .material-symbols-outlined {
      display: none; 
    }
  
    .overlay {
      display: none; 
    }
  
  
    body.menu-opened {
      overflow: visible;
    }
  
    .menu-opened menu {
      left: 0;
    }
  
    .menu-opened .overlay {
      opacity: 0;
      visibility: hidden;
    }
    .apresentacao {
      width: 100%;
      height: 30em;
      background-color: #001F3F;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .txt-apresentacao {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      color: #FA8200;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .complemento {
      color: #cecbcb;
      font-size: 1.8rem;
    }
    .services {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: -5em;
    }
    .sobre {
      display: flex;
      flex-direction: row;
      align-items: start;
      align-items: center;
      
    }
    .container-sobre {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      
    }
    .container-sobre{
      max-width: 50%;
    }
    .txt-sobre{
        margin-top: -1.5em;
    }
    .foto {
        width: 40%;
      margin-right: 5em;
    }
    
  
    .form-class {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .info-form {
      height: 200px;
      align-items: flex-start;
      justify-content: flex-start;
      width: 40%;
      margin-top: -0.5em;
      padding: 1em;
      margin-right: 1em;
  
    }
    .enviar{
      display: block;
    }
    .form {
      width: 50%;
      margin: 0 auto;
      height: 100%;
    }
    .contato{
      margin-top: 1.5em
    }
    footer{
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 1em;
    }
    footer {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start; 
      text-align: left; 
      padding: 2em 5em;
    }
  
    .endereco,
    .contato-footer {
      margin-top: 0; 
      max-width: none; 
      margin-left: 3em;
  
    }
  
    .logo-footer {
      margin-bottom: 0;
      height: 10em;
  
      
    }
  
    footer h2 {
      font-size: 1.5em; 
    }
  
    footer p {
      font-size: 1em; 
    }
  
    .contato-container-footer {
      display: flex;
      flex-direction: column;
    }
  
    .contato {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .contato img {
      margin-right: 10px; 
    }
  
    
    .logo-footer,
    .endereco,
    .contato-footer {
      flex: 1; 
    }
  }
  